@model List<MvcStok.Models.Entitiy.TBLMUSTERI>
@{
    ViewBag.Title = "MusteriListele";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<br />

@using (Html.BeginForm("MusteriListele", "Musteri", FormMethod.Get))
{
    <p>
        Aranacak Müşteri Adı: @Html.TextBox("p")
        <input type="submit" value="Ara">
    </p>
}
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Müşteri ID</th>
            <th>Müşteri Adı</th>
            <th>Müşteri Soyadı</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
            <th>ALERT</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MUSTERIID</td>
                <td>@item.MUSTERIAD</td>
                <td>@item.MUSTERISOYAD</td>
                <td><a href="/Musteri/Sil/@item.MUSTERIID/" class="btn btn-danger">SİL</a></td>
                <td><a href="/Musteri/MusteriGetir/@item.MUSTERIID/" class="btn btn-success">Güncelle</a></td>
                <td>@Html.ActionLink("SİL BUTONU", "SiL", new { id = item.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyor Musunuz')" })</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Musteri/YeniMusteri/" class="btn btn-primary">Müşteri Ekle</a>